*{
    margin: 0 auto;
    padding:0 auto;
    font-family: 'Open Sans', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-position:center;
    background-size: cover;
    position: relative;
}
.container{
    width:100%;
    min-height:100vh;
    padding-left: 7%;
    padding-right: 7%;
    box-sizing: border-box;
    overflow: hidden;
}
.logo{
    height:100px;
    cursor:pointer;
    margin:30px;
}
 
.navbar{
    width: 100%;
    display:flex;
    align-items: center;
}
nav{
    flex:1;
    text-align: right;
    margin-top: -45px;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    display:none;

}
.menu ul{
    display:inline-flex;
    margin:52px;
    float: right;
}

.menu ul li{
    font-size:14px;
    list-style:none;
    margin:0 20px;
    cursor: pointer;
    letter-spacing: 0.4px;
    
}
.menu ul li::after{
    content:'';
    width: 100%;
    height:4px;
    background:#CF0100;
}

.menu ul li:hover{
color: #CF0100;
}

.Grid-container{
    margin-top: -610px;
    display: grid;
    grid-template-rows:600px 600px 600px 600px;
    width: 100%;
}
.row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
}

.col-1{
    flex-basis:14%;
    position:relative;
    margin-left:130px;
    margin-top:-30px;

}

.col-1 h3{
    font-size: 21px;
    line-height:35px;
    letter-spacing: 1px;
}

.col-1 p{
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-top:30px;
    line-height: 25px;
    color:#767676;
}
#bluebtn{
    width:120px;
    border:0;
    padding:10px 5px;
    outline: none;
    background:#16A6B9;
    color:white;
    font-size:14px;
    cursor: pointer;
    margin-top: 30px;
}

.btnoutline{
    height:35px;
    width:116px;
    margin-top: -35px;
    margin-left: 5px;
}
#blue{
    border:2px solid #16A6B9;
    background-color: none;  
}
#bluebtn:hover{
    background:#1794A5;

}
.col-2{
    position: relative;
    flex-basis:90%;
    display: flex;
    align-items: center;
}

.col-2 .project{
    width: 78%;
}

#orangebtn{
    width:120px;
    border:0;
    padding:10px 5px;
    outline: none;
    background:#F26444;
    color:white;
    font-size:14px;
    cursor: pointer;
    margin-top: 30px;
}

#orangebtn:hover{
    background:#E45C3D;
}

#navybtn{
    width:120px;
    border:0;
    padding:10px 5px;
    outline: none;
    background:#2EA3BF;
    color:white;
    font-size:14px;
    cursor: pointer;
    margin-top: 30px;
}

#navybtn:hover{
    background:#2A94AD;
}

#yellowbtn{
    width:120px;
    border:0;
    padding:10px 5px;
    outline: none;
    background:#FFD968;
    color:white;
    font-size:14px;
    cursor: pointer;
    margin-top: 30px;
}


#yellowbtn:hover{
    background:#F0CC62;
}

.footer{
    height:260px;
    background-color: #EFEFEF;
    margin-top: 40px;
}

.footertitle {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    position: relative;
    display: flex;
    padding:50px;
    margin-bottom: 10px;
}

.button-footer{   
    background-color:#FFF;
    border:none;
    color:#E6B500;
    padding:14px 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    margin-top: -20px;
    align-content: center;

}

.copyright{
    font-size: 13px;
    letter-spacing: 0.5px;
    display: flex;
    position: relative;
    margin-top: 50px;
}

@media only screen and (max-width:600px){
    nav ul{
        width:80%;
        position: absolute;
        top:75px;
        right:0px;
        z-index: 0;
    }

    nav ul li{
        display:block;
    }    

    .menu-icon{
        width: 30px;
        cursor: pointer;
        display:block;
        float:right;
        
    }

    .menu ul{
        display:inline-flex;
        margin:52px;
        float: right;
        display: none;
    }

    .row{
        flex-direction: column-reverse;
        margin:50px 0;
    }
    .col-1{
        width: 50%;
        margin-left: 55px;
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }


    .col-1 h3{
        font-size: 18px;

    }



    .copyright{
        margin-top: 40px;
    }
    .button-footer{   
        margin-top: -35px;

    
    }
    .footer{
        height:260px;
        background-color: #EFEFEF;
        margin-top: 20px;
    }
    

}